.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	&-main {
		height: 100%;
		display: flex;
	}
}

.content {
	width: 83%;
	&-inner {
		position: relative;
		padding: 15px;
		height: 100%;
		overflow-y: scroll;
		padding-bottom: 100px;
	}
}