// colors
$color-green: #66bb6a;
$color-red: #e75650;
$color-blue: #3aa3e3;
$color-yellow: #ffc82c;
$color-light-blue: #9dd1f1;
$color-white: #fff;
$color-grey: #bfbfbf;
$color-grey-light: #ececec;
$color-black: #2C405A;
$color-label: #5f6d84;
$text-color: #484746;
$link-color: #29304c;

$border-color: rgba(0, 0, 0, 0.1);
$border-color-light: rgba(222, 222, 222, 0.28);
$border-color-dark: rgba(0, 0, 0, 0.2);

$bg-color: #f8f8f8;
$bg-color-base: #fafbfc;
$bg-color-light: #fcfcfc;

$sidebar-color: #28304C;
// $sidebar-color: #1D2530;
// $sidebar-color-2: #222C3B;

$font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 13px;
$line-height: 16px;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

$input-bg: #FAFAFA;
$input-border: red;

$z-index-select: 10;

$red: #EA696D;
$indigo: #8893C7;
$teal: #67BAAD;
$yellow: #FDE759;
$grey: #E1E0DC;
$pink: #EA7497;
$blue: #79BAEE;
$green: #90C88E;
$amber: #FACE60;
$blue_grey: #9BABB0;
$purple: #BF7BC4;
$light_blue: #6AC5ED;
$light_green: #B6D58C;
$orange: #F6B966;
$lemon_grass: #A4A699;
$deep_purple: #9F85C9;
$cyan: #A5D6C5;
$lime: #DEE584;
$deep_orange: #EF9674;
$brown: #A99288;