.alert {
	border-radius: 2px;
	&-inner {
		display: flex;
		align-items: flex-start;
		padding: 8px;
	}
	&-icon {
		flex: 1;
	}
	&-text {
		flex: 35;
	}
	&-close {
		flex: 1;
		cursor: pointer;
		text-align: right;
	}
}

.alert-info {
  background: lighten($color-blue, 35%);
  color: darken($color-blue, 10%);
  border: 1px solid lighten($color-blue, 25%);
}

.alert-success {
  background: lighten($color-green, 35%);
  color: darken($color-green, 10%);
  border: 1px solid lighten($color-green, 25%);
}

.alert-error {
  background: lighten($color-red, 35%);
  color: darken($color-red, 10%);
  border: 1px solid lighten($color-red, 25%);
}

.alert-warning {
  background: lighten($color-yellow, 35%);
  color: darken($color-yellow, 20%); // 2
  border: 1px solid lighten($color-yellow, 25%);
}