.btn {
	border: none;
	border-radius: 2px;
	font-size: $font-size-base;
  line-height: $line-height;
  padding: 6px 15px;
  display: inline-block;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
  &:focus {
      outline-style: dotted;
      outline-width: 1px;
      outline-offset: 1px;
  }
  &:active {
      box-shadow: inset $box-shadow;
  }
  &:disabled,
  &:disabled:hover,
  &:disabled:active, {
    cursor: not-allowed;
    color: $color-grey;
    // background-color: lighten($color-grey-light, 4%);
    // box-shadow: 0 1px darken($color-grey-light, 10%);
  }
}

.btn-default {
  color: $text-color;
  background: $color-grey-light;
  box-shadow: 0 1px darken($color-grey-light, 10%);
}

.btn-primary {
  background: $color-blue;
  color: $color-white;
  box-shadow: 0 1px darken($color-blue, 10%);
}

.btn-secondary {
  background: $color-black;
  color: $color-white;
  box-shadow: 0 1px darken($color-black, 10%);
}

.btn-success {
  background: $color-green;
  color: $color-white;
  box-shadow: 0 1px darken($color-green, 10%);
}

.btn-error {
  background: $color-red;
  color: $color-white;
  box-shadow: 0 1px darken($color-red, 10%);
}

.btn-link {
  background: transparent;
  color: $color-blue;
  box-shadow: none;
}

.btn-sm {
  padding: 4px 8px;
  line-height: 12px;
  font-size: 12px;
}

a.btn {
  display: inline-block;
  color: $text-color;
}

a.btn-primary,
a.btn-secondary,
a.btn-success,
a.btn-danger {
  color: $color-white;
}

.btn-group {
  font-size: 0;
  display: inline-block;

  .btn {
    border-radius: 0;

    &:not(:last-child) {
      margin-right: -1px;
    }
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }
}

.btn-icon {
  margin-right: 5px;
}