.navbar {
	height: 48px;
	background: $color-white;
	border-bottom: 2px solid $border-color;
	&-toggle {
		padding-left: 15px;
		width: 2%;
		font-size: 18px;
		cursor: pointer;
	}
	&-brand {
	    width: 14%;
	    padding: 5px 20px 5px 20px;
	}
	&-dropdown {
		width: 84%;
		display: flex;
		justify-content: flex-end;
		padding-right: 20px;
	}
	&-dropdown-link {
		cursor: pointer;
		display: flex;
	}
	&-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-logo {
        width: 100%;
        display: block;
    }
}

.navbar-user {
    padding-left: 10px;
    padding-right: 10px;
	span {
		display: block;
		font-size: 13px;
		line-height: 13px;
	}
}